@model IEnumerable<Shop.Core.Entities.Product>

@{
    ViewBag.Title = "All";
}

<h2>All</h2>

<ul></ul>
<table>
    @{
        foreach (var product in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(product.ProductName, "Index", "Product", new { id = product.ProductId }, null)
                </td>
                <td>@Html.ActionLink("Edit", "Edit", "Product", new { id = product.ProductId }, null)</td>
            </tr>
        }
    }
</table>